.GameArea {
    width: 60rem;
    margin-left: auto;
    margin-right: auto;
    max-width: calc(100% - 6rem);
    text-align: center;

    &-title {
        font-size: 3rem;
    }

    &-description {
        font-size: 2rem;
    }

    &-choices {
        display: flex;
        justify-content: center;
        width: 50rem;
        margin-left: auto;
        margin-right: auto;
        margin-top: 3rem;
        max-width: 100%;
        gap: 3rem;

        button {
            appearance: none;
            background: none;
            border: none;
            cursor: pointer;

            transition: transform 150ms;

            img {
                width: 7rem;
                height: auto;
            }

            &:hover {
                transform: scale(1.2);
            }
        }
    }

    &-main {
        margin-top: 5rem;
    }

    &-round_wrapper {
        display: grid;
        align-items: center;
        grid-template-columns: 1fr auto 1fr;

        img {
            width: 20rem;
        }

        .Choice {

        }

        .ChoiceSeparator {
            img {
                width: 3rem;
            }
        }
    }

    &-round_result {
        font-size: 5rem;
        grid-column: span 3;
        font-weight: bold;
    }
}